
<script type="text/javascript">
	
</script>

<%= form_tag('http://testpay.vodafonecash.com.gh/SendSMS.php', remote: true) do  %>
	<%= hidden_field_tag(:vendor, "YOUM") %>
	<%= hidden_field_tag(:phone, "233204424321") %>
	<div class="field">	
		<%= number_field(:amount, "20") %>
	</div>
  	<%= submit_tag("Verify") %>
<% end %>
