<%= form_for(@campaign, url: {action: 'update'}) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row col-lg-offset-3" style="position: relative; bottom: 100px;">

  <div class="form-group">
    <%= f.label 'Cover Photo' %><br>
    <%= f.file_field :display %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'col-lg-6' %><br><br>
  </div>
  <div class="form-group">
    <%= f.label :goal %><br>
    <%= f.text_area :goal, class: 'col-lg-6' %><br><br><br><br>
  </div>
  <div class="form-group">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>

  <label class="form-group">
    <%= f.label "Executive Summary (pdf)" %><br>
    <%= f.file_field :upload %>
    <span class="file-custom"></span>
  </label>

  <!-- <div class="field">
  </div> -->

  <div class="form-group">
    <label>Category</label><br>
    <%= f.select :category_ids, @categories.collect {|c| [ c.name, c.id ] }, {prompt: 'categories'}, {multiple: true} %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
    <%= link_to 'Back', user_campaigns_path, class: 'btn btn-danger' %>
  </div>
<% end %>

</div>
