<p id="notice"><%= notice %></p>

  <% @campaigns.each do |campaign| %>
    <div class="row">
    <div class="col-md-3 col-sm-6">
      <a href="<%= user_campaign_path(campaign.user, campaign) %>" class="donation-item">
        <figure><img src="<%= campaign.display_url %>" alt="//"></figure>
        <div class="content">
          <h4><%= campaign.name %></h4>
          <p><%= campaign.goal %></p>
        </div>
        <div class="foot">
          <span class="goal">Goal: GHs <%= campaign.cost %></span>
          <span class="grossed">Grossed</span>
          <div class="progress">
            <div class="progress-bar" title="$2.200" role="progressbar" style="width: 30%;"><span class="sr-only">90% Complete</span></div>
          </div>
          <!-- <span class="views"><i class="icon-eye"></i>957</span> -->
          <span class="people"><i class="icon-user"></i>432</span>
          <span class="time"><i class="icon-clock"></i><%= campaign.created_at %></span>
        </div>
      </a>
    </div>
<% end %>
    <div class="container dnt-button"><a href="<%= new_user_campaign_path(@user) %>" class="btn btn-dark">New Campaign</a></div>






        <td><%#= link_to 'View', campaign.upload_url %></td>
        <td><%#= link_to 'Show', user_campaign_path(campaign.user, campaign) %></td>
        <td><%#= link_to 'Edit', edit_user_campaign_path(campaign.user, campaign) %></td>
        <td><%#= link_to 'Destroy', user_campaign_path(campaign.user, campaign), method: :delete, data: { confirm: 'Are you sure?' } %></td>

<%#= link_to 'New Campaign',  %>
