<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @campaign.goal %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @campaign.cost %>
</p>

<%#= link_to 'Invest', campaign_payments_path %>
<%= link_to 'Edit', edit_user_campaign_path(@campaign.user, @campaign) %> |
<%= link_to 'Back', user_campaigns_path(@campaign.user) %>

<%= link_to new_user_campaign_payment_path(@campaign.user, @campaign) do %>
	<div class="btn">
		Invest
	</div>
<% end %>
