<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-8">
		<article class="donations">
			<h2><%= @campaign.name %></h2>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs tabs-horizontal" role="tablist">

				<li class="active"><a href="#profile" role="tab" data-toggle="tab">Images</a></li>

				<li><a href="#comments" role="tab" data-toggle="tab">Comments</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">

			<div class="tab-pane active" id="profile">
				<div class="row">
					<div class="col-md-6"><figure><img src="<%= @campaign.display_url %>" alt="//"></figure></div>
					<div class="col-md-6"><figure><img src="<%= @campaign.display_url %>" alt="//"></figure></div>
				</div>
			</div>

			<div class="tab-pane comments" id="comments">
				<div class="comment">
					<div class="links">1 day ago | <a href="#">Report</a> | <a href="#">Reply</a></div>
					<h5>Amanze</h5>
					<figure><img src="<%= image_path('comment-1.jpg') %>" alt="//"></figure>
					<p>I'm happy to be donating to your cause.</p>
				</div>
				<div class="comment">
					<div class="links">1 day ago | <a href="#">Report</a> | <a href="#">Reply</a></div>
					<figure><img src="<%= image_path('comment-4.jpg') %>" alt="//"></figure>
					<h5>Tabby</h5>
					<p>I hope you make good use of the investment so I can get good returns.</p>
				</div>
			</div>
			</div>

			<h3>Interesting facts</h3>
			<div class="row facts">
				<div class="col-md-3 col-sm-6 facts-item">
					<span class="color1"><%= user_nu %></span>
					<h5>Donations</h5>
				</div>
				<div class="col-md-3 col-sm-6 facts-item">
					<span class="color2"><%= volunteer %></span>
					<h5>Volunteers</h5>
				</div>

			</div>
		</article>

		<article class="prev-next">
			<a href="#" class="prev"><i class="icon-left-open"></i>Previous</a>
			<a href="#" class="next">Next<i class="icon-right-open"></i></a>
		</article>

	</div>


	<div class="col-md-4">
		<div class="donation-item resume">
			<h4>Help Us reach our goal: GHs <%= @campaign.cost %></h4>
			<p><%= @campaign.goal %></p>
			<a href="<%= new_user_campaign_payment_path(@campaign.user, @campaign) %>" class="btn btn-make-donation">I want to make a donation</a>
			<a href="<%= @campaign.upload_url %>" class="btn btn-success">Executive Summary</a>
			<div class="foot">
				<span class="goal">Goal: GHs <%= gross %></span>
				<span class="grossed">Grossed</span>
				<div class="progress">
					<div class="progress-bar" title="$2.200" role="progressbar" style="width: <%= percentage %>%;"><span class="sr-only">90% Complete</span></div>
				</div>
				<span class="views"><i class="icon-eye"></i><%= user_nu %></span>
				<!-- <span class="people"><i class="icon-user"></i>432</span> -->
				<span class="time"><i class="icon-clock"></i><%= @campaign.created_at %></span>
			</div>
		</div>
	</div>
	</div>
	<!-- end Our News-->

	</div>
	</section>

<!-- <p>
  <strong>Name:</strong>
  <%#= @campaign.name %>
</p> -->

<!-- <p>
  <strong>Goal:</strong>
  <%#= @campaign.goal %>
</p> -->

<!-- <p>
  <strong>Cost:</strong>
  <%#= @campaign.cost %>
</p> -->

<%#= link_to 'Invest', campaign_payments_path %>
<%#= link_to 'Edit', edit_user_campaign_path(@campaign.user, @campaign) %> |
<%#= link_to 'Back', user_campaigns_path(@campaign.user) %>

<!-- <%#= link_to new_user_campaign_payment_path(@campaign.user, @campaign) do %>
	<div class="btn">
		Invest
	</div>
<%# end %> -->
