<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-8">
		<article class="donations">
			<h2>Why we need your help</h2>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs tabs-horizontal" role="tablist">
				<li><a href="#details" role="tab" data-toggle="tab">Details</a></li>
				<li class="active"><a href="#profile" role="tab" data-toggle="tab">Images</a></li>
				<li><a href="#messages" role="tab" data-toggle="tab">News</a></li>
				<li><a href="#settings" role="tab" data-toggle="tab">Followers</a></li>
				<li><a href="#comments" role="tab" data-toggle="tab">Comments</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			<div class="tab-pane" id="details">
				<figure><img src="<%= image_path("main.jpg") %>" alt="//"></figure>
				<div class="row">
				<div class="col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eos quasi distinctio impedit, voluptatum explicabo! Sequi minima ad magni hic tempora nisi iure quidem provident voluptatum et maiores consequuntur esse sit beatae exercitationem consequatur pariatur deleniti harum omnis a, nobis aspernatur non fugiat voluptatibus! Perferendis facilis quae neque consequatur, ratione deleniti alias cupiditate .</p>
				</div>
				<div class="col-md-6">

					<p><em><strong>Sweet Animals</strong></em></p>
					<div class="progress">
						<div class="progress-bar color1" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
							<span class="sr-only">98% Complete</span>
						</div>
					</div>

					<p><em><strong>Alaska</strong></em></p>
					<div class="progress">
						<div class="progress-bar color2" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
							<span class="sr-only">80% Complete</span>
						</div>
					</div>

					<p><em><strong>Africa Work</strong></em></p>
					<div class="progress">
						<div class="progress-bar color3" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
							<span class="sr-only">90% Complete</span>
						</div>
					</div>

					<p><em><strong>Renewable Energy</strong></em></p>
					<div class="progress">
						<div class="progress-bar color4" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
							<span class="sr-only">85% Complete</span>
						</div>
					</div>
				</div>
				</div>
			</div>
			<div class="tab-pane active" id="profile">
				<div class="row">
					<div class="col-md-6"><figure><img src="<%= image_path("main.jpg") %>" alt="//"></figure></div>
					<div class="col-md-6"><figure><img src="<%= image_path("main.jpg") %>" alt="//"></figure></div>
				</div>
			</div>
			<div class="tab-pane" id="messages">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et harum veniam adipisci minima velit fugit laborum similique necessitatibus repellat aliquam quasi repudiandae alias facere, qui animi vero nobis esse quo.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore a amet ducimus enim repudiandae qui, et minus voluptatum tenetur porro minima! Earum non adipisci beatae ullam natus aliquid illo, fuga voluptate ratione. Alias cupiditate nam maxime non aliquam! In doloribus minus amet assumenda, sit ex eos? Mollitia illo iusto laborum.</p>
			</div>
			<div class="tab-pane" id="settings">
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, iure.</li>
					<li>Numquam voluptates suscipit delectus qui sit eaque eos cum ullam!</li>
					<li>Repellat blanditiis nemo natus vel eius, eveniet ex omnis repudiandae?</li>
					<li>Ut recusandae labore et sunt, eos fugit sequi aspernatur sit.</li>
					<li>Saepe quia dignissimos nemo aliquam eos, autem vitae atque, eum?</li>
					<li>Id quas dolorem alias, voluptate suscipit dolor esse cupiditate ad.</li>
					<li>Totam repudiandae et aliquam non quidem deserunt assumenda ipsam nobis.</li>
					<li>Inventore ab, nihil laudantium, animi dolores blanditiis delectus maxime asperiores.</li>
					<li>Voluptatum rem voluptatibus cupiditate perspiciatis? Autem nostrum iusto animi iste.</li>
					<li>Odit voluptatem corporis totam accusamus tempora blanditiis quia dolores, quasi.</li>
				</ul>
			</div>
			<div class="tab-pane comments" id="comments">
				<div class="comment">
					<div class="links">1 day ago | <a href="#">Report</a> | <a href="#">Reply</a></div>
					<figure><img src="img/people/comment-1.jpg" alt="//"></figure>
					<h5>Administrator</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut delectus eveniet quam soluta dignissimos amet laborum deserunt voluptatem sit est dolorum cum facere, laudantium placeat fugiat vero impedit officiis labore!</p>
				</div>
				<div class="comment">
					<div class="links">1 day ago | <a href="#">Report</a> | <a href="#">Reply</a></div>
					<figure><img src="img/people/comment-2.jpg" alt="//"></figure>
					<h5>Administrator</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut delectus eveniet quam soluta dignissimos amet laborum deserunt voluptatem sit est dolorum cum facere, laudantium placeat fugiat vero impedit officiis labore!</p>
				</div>
			</div>
			</div>

			<h3>Interesting facts</h3>
			<div class="row facts">
				<div class="col-md-3 col-sm-6 facts-item">
					<span class="color1">423</span>
					<h5>Donations</h5>
				</div>
				<div class="col-md-3 col-sm-6 facts-item">
					<span class="color2">629</span>
					<h5>Volunteers</h5>
				</div>
				<div class="col-md-3 col-sm-6 facts-item">
					<span class="color3">986</span>
					<h5>Animals</h5>
				</div>
				<div class="col-md-3 col-sm-6 facts-item">
					<span class="color4">675</span>
					<h5>Projects</h5>
				</div>
			</div>
		</article>

		<article class="prev-next">
			<a href="#" class="prev"><i class="icon-left-open"></i>Previous</a>
			<a href="#" class="next">Next<i class="icon-right-open"></i></a>
		</article>

	</div>


	<div class="col-md-4">
		<div class="donation-item resume">
			<h4>Help Us reach our goal: $ 4,548</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta aspernatur quae reiciendis officiis rem nostrum, ipsa totam minus. Ab iure blanditiis quaerat, cupiditate suscipit incidunt maiores ducimus odio dolor reprehenderit sequi molestiae, eos quis unde aut quas, eveniet animi odit atque. Fuga.</p>
			<a href="donations_steps.html" class="btn btn-make-donation">I want to make a donation</a>
			<div class="foot">
				<span class="goal">Goal: $4,548</span>
				<span class="grossed">Grossed</span>
				<div class="progress">
					<div class="progress-bar" title="$2.200" role="progressbar" style="width: 90%;"><span class="sr-only">90% Complete</span></div>
				</div>
				<span class="views"><i class="icon-eye"></i>957</span>
				<span class="people"><i class="icon-user"></i>432</span>
				<span class="time"><i class="icon-clock"></i>2 min</span>
			</div>
		</div>
	</div>
	</div>
	<!-- end Our News-->

	</div>
	</section>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @campaign.goal %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @campaign.cost %>
</p>

<%#= link_to 'Invest', campaign_payments_path %>
<%= link_to 'Edit', edit_user_campaign_path(@campaign.user, @campaign) %> |
<%= link_to 'Back', user_campaigns_path(@campaign.user) %>

<%= link_to new_user_campaign_payment_path(@campaign.user, @campaign) do %>
	<div class="btn">
		Invest
	</div>
<% end %>
