<!DOCTYPE html>
<html>
<head>
  <title>Investinme</title>
  <%= stylesheet_link_tag    'application', 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/navbar' %>
<div class="container">
  <%= yield %>
</div>
</body>
<footer class="container-fluid">
<%= render 'shared/footer' %>
</footer>
</html>
